@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(240, 235, 232);
    height: 100vh;
}

nav{
    background-color: darkseagreen;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav a{
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.409);
}

nav a:hover{
    color: rgb(16, 77, 42);
}

main{
    height: 85vh;

    display: flex;
    flex-direction: column;
}

main h1{
    padding: 15px;
    margin: auto;
}

main section{
    background-color: white;
    padding: 20px;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

section h2{
    padding: 0px 15px 15px 15px;
}

section div.container{
    /*display: flex;
    justify-content: center;
    align-items: center;    */
}

section div.roda{
    background-color: antiquewhite;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    
}

div.roda .entry{
    height: 100%;
    width: 100%;
    position: absolute;
    clip-path: polygon(50% 50%, 100% 100%, 100% 0);
    transform-origin: 100% 100%;      
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry:hover{
    filter: saturate(1.3);
}

.entry > p{
    position: absolute;
}

.alegria{
    background-color: khaki;
    
    transform: translate(-50%, -50%) rotate(0deg);
}

.alegria p{
    top: 240px;
    left: 260px;
}

.admiracao{
    background-color: darkseagreen;
    
    transform: translate(-50%, -50%) rotate(45deg);
}

.admiracao p{
    top: 240px;
    left: 255px;
    transform: rotate(-45deg);
}

.terror{
    background-color: seagreen;
    
    transform: translate(-50%, -50%) rotate(90deg);
}

.terror p{
    left: 255px;
    transform: rotate(-90deg);
}

.espanto{
    background-color: lightskyblue;
    
    transform: translate(-50%, -50%) rotate(135deg);
}

.espanto p{
    left: 255px;
    transform: rotate(-135deg);
}

.pesar{
    background-color: royalblue;
    
    transform: translate(-50%, -50%) rotate(180deg);
}

.pesar p{
    left: 255px;
    transform: rotate(-180deg);
}

.repugnancia{
    background-color: mediumorchid;
    transform: translate(-50%, -50%) rotate(225deg);
}

.repugnancia p{
    left: 255px;
    transform: rotate(136deg);
}

.ira{
    background-color: lightcoral;
    transform: translate(-50%, -50%) rotate(270deg);
}

.vigilancia{
    background-color: sandybrown;
    transform: translate(-50%, -50%) rotate(315deg);
}
