@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color:rgb(253, 248, 244);
    height: 100vh;
}

body::-webkit-scrollbar{
    display: none;
}

/* NAV */

nav{
    height: 80px;
    padding: 0px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav a{
    padding: 0px 10px;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.409);
}

nav a:hover{
    color: rgb(186, 119, 73);
}

nav h1{
    /*background-color: rgb(203, 189, 167);*/
    font-size: 2.2em;
    border-radius: 0 0 20px 20px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.409);
    
}

/* HEADER */

header{
    display: flex;
    flex-direction: column;
}

section.header-section{
    padding: 60px 0px;
    /*height: 100%;*/
    height: 150px;
    /*min-width: 800px;*/
    /*box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.219);*/

    display: flex;
    flex-direction: column;
    align-items: center;
}

section.header-section h2{
    padding: 0px 15px 30px 15px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.409);
    font-size: 1.7em;
}

section.header-section div.emocoes-faixa{
    width: 100%;

    display: flex;
    justify-content: space-around;
}

div.emocoes-faixa div.tag{
    /*background-color: rgb(239, 231, 225);
    background-color: white;
    border: 2px solid rgb(225, 210, 200);*/
    background-image: linear-gradient(rgb(253, 248, 244) 15%, rgb(239, 229, 220));
    width: 12.5%;
    height: 50px;
    padding: 10px;
    /*border-radius: 15px;*/
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}

div.tag > p{
    text-align: center;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif, Courier, monospace, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.217);
}

div.emocoes-faixa div.alegria-faixa:hover{
    border: 5px solid rgb(241, 239, 151);
}

div.emocoes-faixa div.admiracao-faixa:hover{
    border: 5px solid rgb(157, 224, 157);
}

div.emocoes-faixa div.terror-faixa:hover{
    border: 5px solid rgb(116, 185, 146);
}

div.emocoes-faixa div.espanto-faixa:hover{
    border: 5px solid rgb(161, 212, 245);
}

div.emocoes-faixa div.pesar-faixa:hover{
    border: 5px solid rgb(154, 178, 250);
}

div.emocoes-faixa div.repugnancia-faixa:hover{
    border: 5px solid rgb(212, 151, 227);
}

div.emocoes-faixa div.ira-faixa:hover{
    border: 5px solid rgb(228, 159, 159);
}

div.emocoes-faixa div.vigilancia-faixa:hover{
    border: 5px solid rgb(255, 190, 134);
}


article div#conteudo{
    background-color: white;
    height: 70vh;
    width: 90vw;
    padding: 50px 15px 15px 15px;
    margin: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div#conteudo h3{
    font-size: 2em;
    width: 250px;
    padding: 15px;
    border: 5px solid rgb(241, 239, 151);
    border-radius: 15px;

}

div#conteudo h4{
    font-size: 1.7em;
    width: 200px;
    padding: 15px;
    border: 5px solid rgb(241, 239, 151);
    border-radius: 15px;
}

div#conteudo h5{
    font-size: 1.4em;
    width: 150px;
    padding: 15px;
    margin-bottom: 30px;
    border: 5px solid rgb(241, 239, 151);
    border-radius: 15px;
}

div#conteudo p.topico{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

span.enfase-topico{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p.seta{
    text-align: center;
    font-size: 2em;
}


/* RODA DE EMOÇÕES */

section div.container{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

section div.roda{
    background-color: antiquewhite;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    display: none; /* DEIXAR??? */
    
}

div.roda .entry{
    height: 100%;
    width: 100%;
    position: absolute;
    clip-path: polygon(50% 50%, 100% 100%, 100% 0);
    transform-origin: 100% 100%;      
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry:hover{
    filter: saturate(1.3);
}

.entry > p{
    position: absolute;
}

.alegria{
    background-color: rgb(247, 237, 144);
    
    transform: translate(-50%, -50%) rotate(0deg);
}

.alegria p{
    top: 240px;
    left: 260px;
}

.admiracao{
    background-color: rgb(125, 197, 125);
    
    transform: translate(-50%, -50%) rotate(45deg);
}

.admiracao p{
    top: 238px;
    left: 284px;
    transform: rotate(-45deg);
}

.terror{
    background-color: rgb(36, 145, 83);
    
    transform: translate(-50%, -50%) rotate(90deg);
}

.terror p{
    top: 249px;
    left: 301px;
    transform: rotate(-90deg);
}

.espanto{
    background-color: rgb(117, 193, 240);
    
    transform: translate(-50%, -50%) rotate(135deg);
}

.espanto p{
    top: 255px;
    left: 291px;
    transform: rotate(-135deg);
}

.pesar{
    background-color: rgb(96, 129, 228);
    
    transform: translate(-50%, -50%) rotate(180deg);
}

.pesar p{
    top: 250px;
    left: 277px;
    transform: rotate(-180deg);
}

.repugnancia{
    background-color: mediumorchid;
    transform: translate(-50%, -50%) rotate(225deg);
}

.repugnancia p{
    top: 243px;
    left: 259px;
    transform: rotate(136deg);
}

.ira{
    background-color: rgb(224, 117, 117);
    transform: translate(-50%, -50%) rotate(270deg);
}

.ira p{
    top: 243px;
    left: 315px;
    transform: rotate(-270deg);
}

.vigilancia{
    background-color: rgb(255, 162, 81);
    transform: translate(-50%, -50%) rotate(315deg);
}

.vigilancia p{
    top: 246px;
    left: 282px;
    transform: rotate(-315deg);
}
