@charset "UTF-8";

/* 
Typical Device Breakpoints 

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: 992px até 1920px
Grandes telas: acima de 1920px
*/

@media screen and (min-width: 400px) and (max-width: 780px){
    nav h1{
        width: 100%;
    }

    section.header-section div.emocoes-faixa{
        width: 100%;

    
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    div.emocoes-faixa div.tag{
        /*background-color: rgb(239, 231, 225);
        background-color: white;
        border: 2px solid rgb(225, 210, 200);*/
        background-image: linear-gradient(rgb(253, 248, 244) 15%, rgb(239, 229, 220));
        width: 12.5%;
        min-width: 25%;
        height: 50px;
        padding: 10px;
        /*border-radius: 15px;*/
        cursor: pointer;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    article div#conteudo{
        background-color: white;
        height: 90vh;
        width: 90vw;
        padding: 120px 15px 15px 15px;
        margin: auto;
        text-align: center;
    
        display: flex;
        flex-direction: column;
    }
}



@media screen and (min-width: 780px){
    nav{
        height: 80px;
        padding: 0px 25px;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
    }

    nav h1{
        /*background-color: rgb(203, 189, 167);*/
        font-size: 2.2em;
        
        border-radius: 0 0 20px 20px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.409);
    }
    
    div.emocoes-faixa div.tag{
        /*background-color: rgb(239, 231, 225);
        background-color: white;
        border: 2px solid rgb(225, 210, 200);*/
        background-image: linear-gradient(rgb(253, 248, 244) 15%, rgb(239, 229, 220));
        width: 12.5%;
        height: 50px;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    article div#conteudo{
        background-color: white;
        height: 90vh;
        width: 80vw;
        padding: 50px 15px 15px 15px;
        margin: auto;
        text-align: center;
    
        display: flex;
        flex-direction: column;
    }
}